<%= form_for current_user, url: wizard_path do |f| %>
  <h2>Where can we find you?</h2>
  <div class="field">
    <%= f.label :twitter_username %><br />
    <%= f.text_field :twitter_username %>
  </div>
  <div class="field">
    <%= f.label :github_username %><br />
    <%= f.text_field :github_username %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>

  <%= link_to 'previous', previous_wizard_path %>
  <%= link_to 'next', next_wizard_path %>
  
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>